@page "/pois/edit/{Id:guid}"
@using ManagementSystem.Components
@using ManagementSystem.Dtos
@using ManagementSystem.Services.IServices
@inject IPoiClientService PoiService
@inject NavigationManager Nav

<h3>Edit POI</h3>
@if (model == null)
{
    <div>Loading...</div>
}
else
{
    <PoiForm Model="model" />
    <button class="btn btn-primary mt-3" disabled="@isSaving" @onclick="Save">Update</button>
}

@code {
    [Parameter] public Guid Id { get; set; }
    private PoiDto model;
    private bool isSaving = false;

    protected override async Task OnInitializedAsync()
    {
        model = await PoiService.GetPoiByIdAsync(Id);
        if (model == null) model = new PoiDto { /* Default */ };
    }

    private async Task Save()
    {
        isSaving = true;
        await PoiService.UpdatePoiAsync(model);
        isSaving = false;
        Nav.NavigateTo("/pois");
    }
}